datasets/MSCOCO/

datasets/Flickr/*
datasets/SVO/*

!datasets/Flickr/
!datasets/SVO/
!datasets/Flickr/.gitkeep
!datasets/SVO/.gitkeep

GdinoOutput/*

!GdinoOutput/
!GdinoOutput/.gitkeep

GroundingDINO/weights/

ITM/*.csv
ITM/__pycache__/
ITM/comvg_Viz/
ITM/svo_Viz/

ITR/*.json
ITR/__pycache__/
